In [118]:

import requests
import pandas as pd

In [119]:
#downloading page
url  = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = requests.get(url)
if page.status_code == 200:
    print('Page download successful')
else:
    print('Page download error. Error code: {}'.format(page.status_code))

Page download successful

In [120]:
#Please note, I am using the pandas function "read_html" we can easily process the HTML string instead of beautifulsoup
#We set header = 0 to use the first row as column names
#Since we will discard the "Not Assigned" columns, we set them to NaN so we can later use the dropna method.
df_html = pd.read_html(url)[0]

In [121]:
Postcode_u      = []
Borough_u       = []
Neighbourhood_u = []

for key, value in df_html.iteritems(): 
    #print('value', value)
    #print ('key', key)
    
    for i in range(len(value)):
        temp=value[i]
        if 'assigned' in temp:
            continue
        #print (temp)
        pc=temp[0:3]
        #print (pc)
        neiStartId=temp.find('(')
        neiEndId=temp.find(')')
        br=temp[3:neiStartId]
        #print (br)
        stNei=temp[neiStartId+1:neiEndId]
        #print (stNei)
        lsNei=stNei.split('/')
        #print (lsNei)
        for i in range (len(lsNei)):
            Postcode_u.append(pc)
            Borough_u.append(br)
            nei=lsNei[i].replace(' ','')
            Neighbourhood_u.append(nei)
            #print (pc, br, nei)
toronto_dict = {'Postcode':Postcode_u, 'Borough':Borough_u, 'Neighbourhood':Neighbourhood_u}
df_toronto = pd.DataFrame.from_dict(toronto_dict)
df_toronto.to_csv('toronto_part1.csv')
df_toronto.shape

(216, 3)

In [122]:
df_toronto.head()

  Postcode      Borough  Neighbourhood
0      M1B  Scarborough        Malvern
1      M1B  Scarborough          Rouge
2      M1C  Scarborough      RougeHill
3      M1C  Scarborough      PortUnion
4      M1C  Scarborough  HighlandCreek

In [123]:
df_toronto.loc[df_toronto['Postcode']=='M6A']

    Postcode     Borough    Neighbourhood
128      M6A  North York    LawrenceManor
129      M6A  North York  LawrenceHeights